extends ../layout

block content

    .container
        .row
            .col-lg-12
                h1
                    a(href="/contact-management") #{t("contactEdit.heading1")}
                    small.lead  / #{t("contactEdit.heading2")}
                .bs-component.mt-5
                    fieldset
                        form(id='edit-create-form' method='POST')
                            input(type='hidden' name='_csrf', value=_csrf)
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='firstName') #{t("contactEdit.firstName")}
                                .col-md-7
                                    input.form-control(type='text' name='firstName' id='firstName' placeholder='First name' value=tempContact.firstName , autofocus, required)
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='firstName') #{t("contactEdit.middleName")}
                                .col-md-7
                                    input.form-control(type='text' name='middleName' id='middleName' placeholder='Middle name', value=tempContact.middleName autofocus, required)
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='lastName') #{t("contactEdit.lastName")}
                                .col-md-7
                                    input.form-control(type='text' name='lastName' id='lastName' placeholder='Last name', value=tempContact.lastName autofocus, required)
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='direcManager') #{t("contactEdit.directManager")}
                                .col-md-7
                                    select.form-control(name="directManager")
                                        option(value=null) #{t("contactEdit.none")}
                                        each contact in contactList
                                            if (tempContact.directManager) && (contact.id === tempContact.directManager.toString())
                                                option(value=contact.id, selected="selected") #{contact.firstName + " " + contact.middleName + " " + contact.lastName}
                                            else
                                                option(value=contact.id) #{contact.firstName + " " + contact.middleName + " " + contact.lastName}
                            .form-group.row 
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='doB') #{t("contactEdit.dob")}
                                .col-md-7
                                    .form-group
                                        .input-group.date(data-provide='datepicker')
                                            input.form-control(type='text' name="doB", autofocus, required, value=moment(tempContact.dOB).format("MM/DD/YYYY") )
                                            .input-group-addon(style="width: 30px; padding: 5px")
                                                i.fa.fa-calendar(aria-hidden='true' style="font-size:24px")
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='gender') #{t("contactEdit.gender")}
                                .col-md-7
                                    if tempContact.gender === "Male"
                                        input.col-md-1(type="radio" name="gender", value="Male", checked="checked")
                                    else
                                        input.col-md-1(type="radio" name="gender", value="Male")
                                    | #{t("contactEdit.male")}
                                    if tempContact.gender === "Female"
                                        input.col-md-1(type="radio" name="gender", value="Female", checked="checked")
                                    else
                                        input.col-md-1(type="radio" name="gender", value="Female")
                                    | #{t("contactEdit.female")}
                                    if tempContact.gender === "Other"
                                        input.col-md-1(type="radio" name="gender", value="Other", checked="checked")
                                    else
                                        input.col-md-1(type="radio" name="gender", value="Other")
                                    | #{t("contactEdit.other")}
                            .form-group.row
                                label.col-md-3.col-form-label.font-weight-bold.text-right(for='startDate')  #{t("contactEdit.startDate")}
                                .col-md-7
                                    .form-group
                                        .input-group.date(data-provide='datepicker')
                                            input.form-control(type='text' name="startDate", autofocus, required,  value=moment(tempContact.startDate).format("MM/DD/YYYY"))
                                            .input-group-addon(style="width: 30px; padding: 5px")
                                                i.fa.fa-calendar(aria-hidden='true' style="font-size:24px")
                            .form-group.row.offset-sm-3.col-md-7.pl-2
                                button.btn.btn-success(type='submit')
                                    |  #{t("contactEdit.update")}